{% extends "./layout.njk" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="core/styles/core.css">
{% endblock %}

{% block main %}
    <div id="main">
        hello wolrd!!!
    </div>
{% endblock %}